body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; 
}

#edit-profile, #add-item, #admin-changes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.edit-profile-section, .add-item-section, .admin-changes-section {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
}

.edit-profile-container, .add-item-container, .admin-changes-container {
    text-align: center;
}

.edit-profile-container h2, .add-item-container h2, .admin-changes-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    margin: auto;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 15px;
}

.buttons > button {
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 243, 161, 0.608);
}

.profile-photo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.photo-container {
    position: relative;
    width: 150px;
    height: 150px;
}

.photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.photo-container input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.photo-container label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.profile-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    min-height: 70vh;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    object-fit: cover;
    margin-bottom: 20px;
}

.logout {
    position: relative;
    margin-top: 50px;
    top: 50%;
    left: 40%;
}

button {
    width: auto;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 243, 161, 0.608);
}

button > a {
    text-decoration: none;
}

.posts {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.user-options, .admin-options-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.admin-options h4 {
    text-align: center;
}

.user-options > button, .admin-options button {
    width: 150px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    background-color: rgba(255, 243, 161, 0.608);
    margin-right: 5%;
}

.dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
    padding-bottom: 5%;
}

.dropdown-button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 243, 161, 0.608);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.dropdown-button:focus .fa-arrow-down {
    transition: transform 0.3s ease-in-out;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 243, 161, 0.4);
    min-width: 100%;
    z-index: 10;
    max-height: 100px;
    border-radius: 5px;
}

.dropdown-content label {
    display: block;
    padding: 5px 15px;
    cursor: pointer;
}

.dropdown-content label:hover {
    background-color: rgba(255, 243, 161, 0.7);
}

.show {
    display: block;
}

/* Tablet styles */
@media (min-width: 768px) {
    .user-options, .admin-options-forms {
        flex-direction: row;
        justify-content: center;
    }
}
